<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TuincentrumDBConnectionLaptop" connectionString="Data Source=LAPTOP-RQN2J66V\SQLEXPRESS;Initial Catalog=Tuincentrum;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
		<add name="TuincentrumDBConnectionDesktop" connectionString="Data Source=DESKTOP-4SHJCPG\\SQLEXPRESS;Initial Catalog=Tuincentrum;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>